.ejemplo{
    background-color: aquamarine;
    
}
img{
    max-width: 200px;
    max-height: 200px;
}
div{
    display: flex;
}
.card{
    max-width: 250px;
    background-color: white;
    border: 1px solid #DDD;
    border-radius: 2px;
    box-shadow: 0 0 2px #CCC;
}
.card-img{
    border-bottom:1px solid;
    width: 100%;

}
